node_modules/
.pnp
.pnp.js

client/dist/
*.local

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log.log*
*.log

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.user
*.swp
*.swo

.DS_Store
Thumbs.db

.trae/

server/data/
server/uploads/
